{% extends 'layouts/base-presentation.html' %}

{% block title %}
  genre list
{% endblock %}

{% block content %}
  <div class="pt-7 pb-2">
  {% include 'includes/search.html' %}
  </div>

{% include 'includes/media-nav-buttons.html' %}

  <div class="col-lg-10 text-center mx-auto">
    <p class="text-lg mb-0 pt-2">{{ media }} genres:</p>
  </div>

  {% if genre_list %}
    {% for genre in genre_list %}
      <div class="col-lg-10 text-center mx-auto">
        <ul class="list-unstyled">
          <li>
            <p class="text-lg mb-0 h1">
              <a href="{{ redirect_url }}">{{ genre.name }}</a>
            </p>
          </li>
        </ul>
      </div>

      {% include 'includes/pagination.html' %}

    {% endfor %}
  {% else %}
    <div class="col-lg-7 text-center mx-auto col-sm-9">
      <p class="text-xs mb-0">Nothing to show yet</p>
    </div>
  {% endif %}
{% endblock %}