{% load query_transform %}

<section>
    <div class="pb-4 container">
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link mb-0 px-0 py-1 {% if media == 'book' %}active{% endif %}"
                    href="?{% query_transform request media='book' %}">
                    Book
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 {% if media == 'film' %}active{% endif %}"
                     href="?{% query_transform request media='film' %}">
                    Film
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 {% if media == 'comic' %}active{% endif %}"
                     href="?{% query_transform request media='comic' %}">
                    Comic
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 {% if media == 'series' %}active{% endif %}"
                     href="?{% query_transform request media='series' %}">
                    Series
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 {% if media == 'anime' %}active{% endif %}"
                     href="?{% query_transform request media='anime' %}">
                    Anime
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
