<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="search-container">
  <form method="get" action="" class="search">

    {% if search_form.name %}
      {{ search_form.name }}
    {% elif search_form.title %}
      {{ search_form.title }}
    {% else %}
      {{ search_form.username }}
    {% endif %}

    {% for key,value in query_params.items %}
      {% if "title" != key and "name" != key and "username" != key %}
        <input type="hidden" name="{{ key }}" value="{{ value }}"/>
      {% endif %}
    {% endfor %}

    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
