{% load query_transform %}

<section>
  <div class="pt-3 nav-wrapper position-relative end-0">
    <ul class="nav nav-pills flex-column flex-sm-row nav-fill p-1" role="tablist">
    <legend class="text-center">Statuses:</legend>
      {% for status_choice in status_choices %}
        <li class="nav-item">
          <a
            class="nav-link w-100 mb-1 {% if query_params.status == status_choice %}active{% endif %}"
            href="?{% query_transform request status=status_choice %}">
            {{ status_choice }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
