{% extends 'layouts/base-list.html' %}

{% load query_transform %}

{% block title %}
  book list
{% endblock %}

{% block list_content %}

  <div class="d-flex flex-column gap-4 flex-md-row justify-content-center mb-3">
    <div class="row col-lg-4 mx-2">
      <button class="btn btn-outline-primary mw-20"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#filterCollapse"
              aria-expanded="false"
              aria-controls="filterCollapse">
        Filters
      </button>
      <div id="filterCollapse" class="collapse">
        {% include 'includes/type-nav-buttons.html' %}
        {% include 'includes/genre-nav-buttons.html' %}
      </div>
    </div>

    <a href="{% url 'media:book_create' %}?{{ query_params.urlencode }}" class="btn btn-outline-secondary mb-auto mx-2">
      Create
    </a>
  </div>

  <div class="mx-1 row g-4 justify-content-center">
    {% for book in book_list %}
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm h-100">
          <div class="card-body d-flex flex-column">
            <h5>
              <a class="h5 card-title text-primary" href="{% url 'media:book_detail' pk=book.id %}">
                {{ book.title }}
              </a>
            </h5>

            <p class="card-text text-muted small">
              {{ book.description|truncatechars:200 }}
            </p>

            <div class="mb-2">
            <span class="badge bg-gradient-secondary">
              {{ book.chapters }} chapters
            </span>
              <span class="badge bg-gradient-info text-dark">
              <a href="{% url 'media:book_list' %}?type={{ book.get_type_display }}"
                 class="text-decoration-none text-dark">
                {{ book.get_type_display }}
              </a>
            </span>
              <span class="badge bg-gradient-light text-dark">
                  Publication date:
                {% if book.created_at %}
                  {{ book.created_at }}
                {% else %}
                  Unknown
                {% endif %}
            </span>
            </div>

            {% if book.creators.exists %}
              <div class="mb-2">
                <strong>Author{{ book.creators.all|length|pluralize }}:</strong>
                {% for creator in book.creators.all|slice:":2" %}
                  <span class="badge bg-gradient-light border text-dark me-1 mb-2">
                  {{ creator.first_name }}
                    {{ creator.last_name }}
                </span>
                {% endfor %}
              </div>
            {% else %}
              <div class="mb-2">
                <strong>Author unknown</strong>
              </div>
            {% endif %}

            {% if book.genres.exists %}
              <div class="d-flex flex-wrap gap-1 mt-auto">
                {% for genre in book.genres.all|slice:":5" %}
                  <a class="badge rounded-pill bg-gradient-success text-white text-decoration-none"
                     href="?{% query_transform request=request genres=genre.name %}">
                    {{ genre.name }}
                  </a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="text-center mx-auto col-sm-9">
        <p class="mb-0 h5">Nothing to show yet</p>
      </div>
    {% endfor %}

  </div>
{% endblock %}
