{% extends 'layouts/base_list.html' %}

{% block title %}
  genre list
{% endblock %}

{% block list_content %}

  {% include 'includes/media_filter.html' %}

  <div class="col-lg-10 text-center mx-auto">
    <p class="text-lg mb-0 pt-2">{{ media|capfirst }} genres:</p>
  </div>

  {% for genre in genre_list %}
    <div class="col-lg-10 text-center mx-auto">
      <ul class="list-unstyled">
        <li>
          <h3 class="mb-1">
            <a href="{{ redirect_url }}?genres={{ genre.name }}" class="text-primary text-gradient">{{ genre.name }}</a>
          </h3>
          <p class="text-sm text-muted">
            {{ genre.media_type_count }} result{{ genre.media_type_count|pluralize }}
          </p>
        </li>
      </ul>
    </div>
  {% empty %}
    <div class="col-lg-7 text-center mx-auto col-sm-9">
      <p class="text-xs mb-0">Nothing to show yet</p>
    </div>
  {% endfor %}
{% endblock %}
